canvas{
    animation-name:example;
    animation-duration:4s ;
    animation-iteration-count: infinite;
}
/*Para definir la animación*/
@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(98, 0, 255)}
    to{box-shadow: 1px 1px 38px rgb(255, 0, 255)}
}
body{
    background: linear-gradient(90deg, rgb(19, 153, 206) 0%, rgb(81, 253, 29) 50%, rgb(252, 249, 69) 100%);
}